@mixin corner-banner($color: #333) {
  &.corner-banner.honey-badger {
      position: fixed;
      right: -66px;
      bottom: 30px;
      display: block;
      width: 200px;
      background-color: #e82c2c;
      background-image: -moz-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e82c2c), color-stop(25%, #de2627), color-stop(50%, #ce1f21), color-stop(75%, #c31a1d), color-stop(100%, #b41317));
      background-image: -webkit-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background-image: -o-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background-image: -ms-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background-image: linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background-repeat: repeat-x;
      border-bottom: 1px solid #720101;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 -2px 0 #dd3438;
      color: #fff;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e82c2c', endColorstr='#b41317',GradientType=0);
      text-align:center;
      font-size:11px;
      line-height:13px;
      padding:4px 3px 4px 3px;
      text-shadow: darken($color, 20) 1px 1px 0;
      -webkit-transform: rotate(-45deg);  /* Saf3.1+, Chrome */
      -moz-transform: rotate(-45deg);  /* FF3.5+ */
      -ms-transform: rotate(-45deg);  /* IE9 */
      -o-transform: rotate(-45deg);  /* Opera 10.5 */
      transform: rotate(-45deg);
      box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
      -moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
      -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
      z-index: 1035;
      letter-spacing:1px;
      font-style:normal;
      font-size:8px !important;
      color:#fff;
      text-transform:uppercase;
      line-height:12px;
      display:block;
      font-family: Arial;

      a:link,
      a:visited  {color:#FFF0B7;text-decoration: none;}
      a:hover,
      a:focus  {color:#FFF;text-decoration: none;}
  }
}

.development { @include corner-banner(#933720) }
.staging { @include corner-banner(#f90); }
